html {
    height: 100%;
}
.bg-azul {
    background-color: rgb(4, 4, 114);
}
.logo {
    width: 30px;
}
.navbar-brand.custom-navbar-text{
    padding: 0;
    margin: 0;
}



.navbar-nav.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
}

.custom-navbar-bg {
    background-color: #013583; /* Color azul oscuro personalizado */
  }
  .custom-navbar-text {
    color: #faea10; /* Color amarillo personalizado */
  }

  /*body {
    background-color: #005de9;
  }*/


  body {
    background: linear-gradient(to bottom, #ffc107, #014fc4 45%); /* Gradiente lineal horizontal entre amarillo y azul */
    margin: 0;
    padding: 0;
  }
  .navbar-custom {
    background-color: transparent !important; /* Hacemos el fondo de la barra de navegación transparente */
  }
  .custom-navbar-text {
    color: #fff; /* Texto en blanco para mayor contraste */
  }